html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../image/main_background.jpg') no-repeat;
    background-size: 100% 100%;
}

.contentArea {
    position: absolute;
    top: 10px;
    width: 100%;
}

.title {
    font-size: xx-large;
    font-family: STCaiyun, serif;
}

.top {
    display: flex;
    justify-content: center;
}

.recordArea {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 210px;
    top: 50px;
    width: 1100px;
    border-radius: 10px;
}

.recordArea p {
    margin-left: 15px;
}

.subtitle {
    font-weight: 800;
}