.herbArea {
    position: absolute;
    left: 21%;
    top: 130px;
    width: 62%;
}

.effect {
    margin-top: 8px;
    display: flex;
}

.hint {
    flex-shrink: 0;
}

.separator {
    margin-left: -15px;
    width: 100%;
}


