.searchArea {
    position: absolute;
    left: 41%;
    top: 130px;
    display: flex;
}

.option {
    height: 30px;
    width: 60px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #B0E2FF;
    border-right:1px dashed #B0E2FF;
}

#content {
    float: left;
    flex: 4;
    height: 30px;
    width: 250px;
    outline: none;
    border: 1px solid #B0E2FF;
    box-sizing: border-box;
    padding-left: 10px;
    border-left:#ffffff;
}

#searchBtn {
    float: right;
    flex: 1;
    height: 30px;
    width: 50px;
    background-color: #87CEFA;
    color: white;
    border-style: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#searchBtn:hover {
    color: black;
    box-shadow: 1px 0 2px 1px #8B8682;
}

.catalogArea {
    position: absolute;
    left: 20%;
    top: 165px;
    width: 62%;
}

.cata a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.separator {
    margin-left: -15px;
    width: 100%;
}

