body {
    background-image: url("image/search_background.jpg");
    background-size: 100% 100%;
    height: 700px;
    width: 1600px;
    margin-left: -7px;
    margin-top: -50px;
}

.title {
    text-align: center;
    margin-top: 130px;
}

.search {
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.search input {
    float: left;
    flex: 4;
    height: 35px;
    width: 500px;
    outline: none;
    border: 1px solid #B0E2FF;
    box-sizing: border-box;
    padding-left: 10px;
}

.search button {
    float: right;
    flex: 1;
    height: 35px;
    width: 60px;
    background-color: #B0E2FF;
    color: white;
    border-style: none;
    outline: none;
}

.search button:hover {
    color: black;
}
