<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中医经方查询系统</title>
    <link href="/static/css/detail.css" type="text/css" rel="stylesheet">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/detail.js"></script>
</head>
<body>
<div class="contentArea">
    <div class="top">
        <label class="title">中医经方查询系统</label>
    </div>
    <div class="recordArea">
        <p>名称：{{ name }}</p>
        {% for each in info %}
            <p>{{ each }}</p>
        {% endfor %}
    </div>
    <div style="clear: both"></div>
</div>
</body>
</html>