{% extends "index_base.html" %}
{% block content %}
    <script>
        $('#herb').addClass('clickbtn');
        $('#record').removeClass('clickbtn');
        $('#prescription').removeClass('clickbtn');
    </script>

    {% if herbs %}
        <div class="herbArea">
            {% for herb in herbs %}
                <div>药名：{{ herb[0] }}</div>
                <div class="effect">
                    <div class="hint">疗效：</div>
                    <div>{{ herb[1] }}</div>
                </div>
                <hr class="separator">
            {% endfor %}
        </div>
    {% else %}
        <script>
            $(function () {
                $(".main").fadeIn();
                $('.promptBox').delay(300).slideDown();
            });
            $('.prompt_cancel').click(function () {
                $('.promptBox').fadeOut();

            });
        </script>
    {% endif %}
{% endblock %}