<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中医经方查询系统</title>
    <link href="../static/css/index.css" type="text/css" rel="stylesheet">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>

<div class="background">
    <div class="top">
        <label class="title">中医经方查询系统</label>
    </div>
    <div class="horizontal"></div>
    <div class="vertical">
        <button class="button clickbtn prescription">病症——药方</button>
        <button class="button clickbtn medicine">药材及疗效</button>
        <button class="button clickbtn medicine">经 方</button>
    </div>

    <div class="display_herb">
        <span>{{ name }}</span>
        <span>{{ effect }}</span>
    </div>

    <div class="retrieve" id="retrieve">
        <div class='searcharea'>
            <label class='searchhint'>请输入药材名:</label>
            <input class='input' id='videoname' type='text'><br>
            <button id='searchbutton' class='button searchbutton' onclick='search()'>检索</button>
        </div>
        <div id='searchresult'></div>
    </div>

</div>
</body>
</html>