<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中医经方查询系统</title>
    <link href="/static/css/index_base.css" type="text/css" rel="stylesheet">
    <link href="/static/css/herb.css" type="text/css" rel="stylesheet">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/index.js" type="text/javascript"></script>
</head>
<body>

<div class="background">
    <div class="top">
        <label class="title">中医经方查询系统</label>
    </div>
    <div class="horizontal"></div>
    <div class="vertical">
        <button class="button clickbtn prescription">病症——药方</button>
        <button class="button clickbtn medicine">药材及疗效</button>
        <button class="button clickbtn medicine">经 方</button>
    </div>

    <div>

    </div>

    {% block content %}

    {% endblock %}


</div>
</body>
</html>