<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中医经方查询系统</title>
    <link href="/static/css/index_base.css" type="text/css" rel="stylesheet">
    <link href="/static/css/herb.css" type="text/css" rel="stylesheet">
    <link href="/static/css/record.css" type="text/css" rel="stylesheet">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/index.js" type="text/javascript"></script>
    <script src="/static/js/record.js" type="text/javascript"></script>
    <script src="/static/js/index_base.js" type="text/javascript"></script>
</head>
<body>

<div class="background">
    <div class="contentArea">
        <div class="top">
            <label class="title">中医经方查询系统</label>
        </div>
        <div class="horizontal"></div>
        <div class="vertical">
            <button id="record" class="button">病症——药方</button>
            <button id="herb" class="button">药材及疗效</button>
            <button id="prescription" class="button">经 方</button>
        </div>

        <!--后端数据区域-->
        {% block content %}

        {% endblock %}

    </div>

    <!--消息弹窗-->
    <div class="main">
        <div class="promptBox">
            <div class="prompt">
                <label class="prompt_text">您查找的信息不存在！</label>
                <button class="prompt_cancel"></button>
            </div>
        </div>
    </div>

</div>
</body>
</html>