{% extends "index_base.html" %}
{% block content %}
    <link href="/static/css/record.css" type="text/css" rel="stylesheet">
    <script src="/static/js/record.js" type="text/javascript"></script>
    <script>
        $('#record').addClass('clickbtn');
        $('#herb').removeClass('clickbtn');
        $('#prescription').removeClass('clickbtn');
    </script>

    <div class="searchArea">
        <label for="option"></label><select id="option" class="option">
        <option value="illness">病名</option>
        <option value="symptom">症状</option>
    </select>
        <label for="content"><input id="content" type="text" placeholder="请输入..."/></label>
        <button id="searchBtn" type="button">搜 索</button>
    </div>

    {% if catalogs is undefined %}

    {% elif catalogs | length > 0 %}
        <script>
            $(function () {
                // 获取url及illness和page参数
                let res = getParameter("illness", "symptom", "page");
                let illness = res[0];
                let symptom = res[1];
                let page = res[2];
                let mainUrl = res[3];
                //给页码动态绑定id
                let pageArray = $(".pagination li a");
                for (let i = 0; i < pageArray.length; i++) {
                    pageArray.eq(i).attr('id', '' + i);
                    if ((i !== 0 || i !== pageArray.length - 1) && illness !== '')
                        pageArray.eq(i).attr('href', mainUrl + "?opt=1&illness=" + illness + "&page=" + i);
                    else if ((i !== 0 || i !== pageArray.length - 1) && symptom !== '')
                        pageArray.eq(i).attr('href', mainUrl + "?opt=2&symptom=" + symptom + "&page=" + i);
                }
                $("#" + page).addClass("active");
            });
        </script>

        <div class="catalogArea">
            <ul>
                {% for catalog in catalogs %}
                    <li class="cataItem">
                        <a href="{{ url_for('displayRecord',name=catalog[0]) }}" target="_blank">
                            <div class="cata">
                                <div class="cataText">
                                    <p>病名： {{ catalog[0] }}</p>
                                    <p>症状： {{ catalog[1] }}</p>
                                    <p>出处：{{ catalog[2] }}</p>
                                </div>
                                <div class="nav"></div>
                            </div>
                        </a>
                        <hr class="separator">
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% elif catalogs | length == 0 %}
        <script>
            $(function () {
                showPrompt();
            });
        </script>
    {% endif %}

    <!--页码-->
    <div class="pageIndex">
        <ul class="pagination">
            <li><a>«</a></li>
            {% for page in pageCount %}
                <li><a>{{ page }}</a></li>
            {% endfor %}
            <li><a>»</a></li>
        </ul>
    </div>

{% endblock %}