<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>搜索界面</title>
    <link rel="shortcut icon" href="#"/>
    <link href="../static/css/search.css" type="text/css" rel="stylesheet">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/search.js"></script>
</head>

<body>
<div class="background">
    <h1 class="title">中医经方查询系统</h1>
    <div class="search">
        <form>
            <div class="search_area">
                <input id="content" type="text" placeholder="请输入..."/>
                <button id="search_button" type="button">搜 索</button>
            </div>
            <br>
            <div class="search_option">
                <label><input type="radio" name="option" value="illness">病 名</label>
                <label><input type="radio" name="option" value="symptom">症 状</label>
                <label><input type="radio" name="option" value="herb">药材名</label>
                <label><input type="radio" name="option" value="record">经方名</label>
            </div>
        </form>
    </div>
</div>
</body>
</html>