<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>搜索界面</title>
    <link rel="shortcut icon" href="#"/>
    <link href="../static/search.css" type="text/css" rel="stylesheet">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/search.js"></script>
</head>

<body>
<div class="background">
    <h1 class="title">中医经方查询系统</h1>
    <div class="search">
        <form>
            <input id="content" type="text" placeholder="请输入..."/>
            <button id="search" type="button">搜 索</button>
        </form>
    </div>
</div>
</body>
</html>